@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}
body {
  background: linear-gradient(
    45deg,
    #830101 0%,
    #b40101 25%,
    #c90303 50%,
    #a90101 75%,
    #8a0101 100%
  );
}
/* 
  
  background: linear-gradient(135deg, #d1d1d1, #242424, #2e2e2e, #cccccc);
}
  

background: linear-gradient(
    45deg,
    #110b00 0%,
    #830e87 25%,
    #d8091e 50%,
    #830e87 75%,
    #090e5b 100%
  );

background: linear-gradient(
    45deg,
    #feda75 0%,
    #fa7e1e 25%,
    #d62976 50%,
    #962fbf 75%,
    #4f5bd5 100%
  );




 */
